/* medi query breakpoints */
/* sm */
@media (min-width: 640px) {
    .sm-100 {
      width: 100%;
    }
    .sm-50 {
      width: 50%;
    }
    .sm-33 {
      width: 33.333%;
    }
    .sm-25 {
      width: 25%;
    }
    .sm-16 {
      width: 16.66666%;
    }
  
    .navbar .nav-logo {
      float: left;
      width: 15%;
    }
    .navbar .nav-list {
      float: right;
    }
    .navbar .nav-list li {
      float: right;
      padding: 16px 10px;
    }
  }
  /* md */
  @media (min-width: 768px) {
    .md-100 {
      width: 100%;
    }
    .md-50 {
      width: 50%;
    }
    .md-33 {
      width: 33.333%;
    }
    .md-25 {
      width: 25%;
    }
    .md-16 {
      width: 16.66666%;
    }
    .container {
      width: 80%;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    /* .item {
        width: 25%;
      } */
  
    .lg-100 {
      width: 100%;
    }
    .lg-50 {
      width: 50%;
    }
    .lg-33 {
      width: 33.333%;
    }
    .lg-25 {
      width: 25%;
    }
    .lg-16 {
      width: 16.66666%;
    }
  }
  /* xl */
  @media (min-width: 1280px) {
    .xl-100 {
      width: 100%;
    }
    .xl-50 {
      width: 50%;
    }
    .xl-33 {
      width: 33.333%;
    }
    .xl-25 {
      width: 25%;
    }
    .xl-16 {
      width: 16.66666%;
    }
  }
  /* xxl */
  @media (min-width: 1536px) {
    .xxl-100 {
      width: 100%;
    }
    .xxl-50 {
      width: 50%;
    }
    .xxl-33 {
      width: 33.333%;
    }
    .xxl-25 {
      width: 25%;
    }
    .xxl-16 {
      width: 16.66666%;
    }
  }
  